/*
* TODO: Rewrite the CSS and create a card layout. Match the design from figma
*
*/

* {
  box-sizing: border-box;
}

button {
  max-width: 25%;
}

div {
    max-width: 100%;
    display: grid;
    margin: 10px;
  }
  
  .fa {
     transform: translate(0px, -20px);
     display: grid;
     justify-content: center;

  }
  
  .fa-check {
    color: green;

  }
  
  .fa-times {
    color: red;

  }
  
  .fa-question {
    color: grey;
  }

  .application-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(5, 1fr);*/
    gap: 20px;
  }

  .application-list h3.job-app-name___heading {
    grid-column: 1 / 2;
  }

  .application-list h3.status-indicator___heading {
    grid-column: 2 / 3;
  }

  .application-list h3 {
    text-align: left;
  }

  .status {
    grid-column: 1 / 3;
    grid-row: 2;
  }
  .pop-up {
    max-width: 50vw;
    font-size: 24px;
    font-family: sans-serif;
    padding: 1%;
    color: #222;
    border-radius: 0.5vw;
  }
  
  .confirm {
    background-color: lightgreen;
    border: solid 3px green;
  }
  
  .error {
    background-color: pink;
    border: solid 3px red;
  }